title = "homepage"
url = "/"
layout = "home"
is_hidden = 0
[chuoitienich]
[tintuc]
[giaban]

[home] 
==



<main id="main" class="">
	<div id="content" role="main">

		<section class="section" id="section_1709577569">
			<div class="bg section-bg fill bg-fill  bg-loaded banner-fix-fill banner-fix-bg-fill" id="banner-fix-mobie">





			</div><!-- .section-bg -->

			<div class="section-content relative fix-hight-banner-mobie">


				<div class="banner has-hover is-full-height" id="banner-708839928">
					<div class="banner-inner fill bg-loaded banner-fix-fill banner-fix-bg-fill">
						<div class="banner-bg fill bg-loaded banner-fix-fill banner-fix-bg-fill" >
							<div class="bg fill  bg-fill bg-loaded bg-loaded banner-fix-fill banner-fix-bg-fill"></div>

						</div><!-- bg-layers -->
						<div class="banner-layers container">
							<div class="fill banner-link bg-loaded banner-fix-fill banner-fix-bg-fill"></div>            
							<div id="text-box-413624218" class="text-box banner-layer x50 md-x50 lg-x50 y70 md-y75 lg-y75 res-text">
								<div class="text dark">

									<div class="text-inner text-center">
										<div class="container section-title-container mh-title-simple center mh-hight-light" style="margin-bottom:0px;">
											<h1 class="section-title section-title-center">
												<b></b><span class="section-title-main" style="font-size:26%;">{{ home[0].title }}</span><b></b>
											</h1>
										</div><!-- .section-title -->
										<p class="svn">{{ home[0].description }}</p>
									</div>
								</div><!-- text-box-inner -->

								<style scope="scope">

									#text-box-413624218 {
										width: 90%;
									}
									#text-box-413624218 .text {
										font-size: 340%;
									}


									@media (min-width:550px) {

										#text-box-413624218 .text {
											font-size: 300%;
										}

									}


									@media (min-width:850px) {

										#text-box-413624218 .text {
											font-size: 230%;
										}

									}
								</style>
							</div><!-- text-box -->
							<style scope="scope">

								#banner-708839928 {
									padding-top: 100%;
								}
							</style>
						</div><!-- .banner -->


					</div><!-- .section-content -->


					<style scope="scope">

						#section_1709577569 {
							padding-top: 0px;
							padding-bottom: 0px;
						}
					</style>
				</div>
			</div>
		</section>

				<section class="section" id="section_511288547">
					<div class="bg section-bg fill bg-fill  bg-loaded banner-fix-bg-fill" >





					</div><!-- .section-bg -->

					<div class="section-content relative">

						<div class="row row-small"  id="row-260510414">
							<div class="col small-12 large-12"  ><div class="col-inner text-center"  >
								<h2 class="mh-title-bold-light">{{ home[1].title }}</h2>
							</div></div>

							<style scope="scope">

							</style>
						</div>
						<div class="row row-small"  id="row-190723207">
							<div class="col mh-tabs-introduce small-12 large-12"  ><div class="col-inner"  >

								<div class="tabbed-content">

									<ul class="nav nav-divided nav-uppercase nav-size-normal nav-center"><li class="tab active has-icon"><a href="#tab_giới-thiệu"><span>{{ html_strip(home[1].description) }}</span></a></li>
										<li class="tab has-icon"><a href="#tab_chủ-đầu-tư"><span>{{ html_strip(home[2].description)  | raw}}</span></a></li>
										<li class="tab has-icon"><a href="#tab_Điểm-nhấn"><span>{{ html_strip(home[3].description) }}</span></a></li></ul><div class="tab-panels"><div class="panel active entry-content" id="tab_giới-thiệu">
											<div class="row align-middle align-right mh-row-introduce-bg"  id="row-544072134">
												<div class="col medium-7 small-12 large-8"  ><div class="col-inner" style="padding:30px 0px 0px 0px;" >
													<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1170776940">
														<div class="img-inner dark" >
															<img width="960" height="640" src="{{ home[1].image |media}}" class="attachment-original size-original" alt="Phối cảnh The Matrix One" sizes="(max-width: 960px) 100vw, 960px" />						
														</div>

														<style scope="scope">

															#image_1170776940 {
																width: 100%;
															}
														</style>
													</div>

												</div></div>
												<div class="col medium-5 small-10 large-4"  ><div class="col-inner dark" style="padding:30px 0px 0px 20px;" >
													<div class="container section-title-container mh-title-simple" style="margin-bottom:10px;"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" style="font-size:140%;">{{ html_strip(home[1].description) |raw }}</span><b></b></h3></div><!-- .section-title -->
													<p>{{ home[1].content |raw}}</p>

												</div></div>

												<style scope="scope">

												</style>
											</div>
										</div>
										<div class="panel entry-content" id="tab_chủ-đầu-tư">
											<div class="row align-middle align-right mh-row-introduce-bg"  id="row-1207741844">
												<div class="col medium-7 small-12 large-8"  ><div class="col-inner" style="padding:30px 0px 0px 0px;" >
													<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1120927764">
														<div class="img-inner dark" >
															<img width="1079" height="633" src="{{ home[2].image |media }}" class="attachment-original size-original" alt="{{html_strip(home[2].description) |raw }}"  sizes="(max-width: 1079px) 100vw, 1079px" />						
														</div>

														<style scope="scope">

															#image_1120927764 {
																width: 100%;
															}
														</style>
													</div>

												</div></div>
												<div class="col medium-5 small-10 large-4"  ><div class="col-inner dark" style="padding:30px 0px 0px 20px;" >
													<div class="container section-title-container mh-title-simple" style="margin-bottom:10px;"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" style="font-size:140%;">{{html_strip(home[2].description) |raw }}</span><b></b></h3></div><!-- .section-title -->
													<p>{{home[2].content |raw }}</p>

												</div></div>

												<style scope="scope">

													#row-1207741844 > .col > .col-inner {
														padding: 30px 0px 0px 0px;
													}
												</style>
											</div>
										</div>
										<div class="panel entry-content" id="tab_Điểm-nhấn">
											<div class="row align-middle align-right mh-row-introduce-bg"  id="row-1402814263">
												<div class="col medium-7 small-12 large-8"  ><div class="col-inner" style="padding:30px 0px 0px 0px;" >
													<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_2060416014">
														<div class="img-inner dark" >
															<img width="1101" height="608" src="{{home[3].image |media }}" class="attachment-original size-original" alt="Điểm nhấn kiến trúc của The Matrix" sizes="(max-width: 1101px) 100vw, 1101px" />						
														</div>

														<style scope="scope">

															#image_2060416014 {
																width: 100%;
															}
														</style>
													</div>

												</div></div>
												<div class="col medium-5 small-10 large-4"  ><div class="col-inner dark padding-diemnhan">
													<div class="container section-title-container mh-title-simple" style="margin-bottom:10px;"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" style="font-size:140%;">{{html_strip(home[3].description) |raw }}</span><b></b></h3></div>
													{{home[3].content |raw }}

												</div></div>

												<style scope="scope">

													#row-1402814263 > .col > .col-inner {
														padding: 30px 0px 0px 20px;
													}
												</style>
											</div>
										</div></div></div>
									</div></div>

									<style scope="scope">

									</style>
								</div>
							</div><!-- .section-content -->


							<style scope="scope">

								#section_511288547 {
									padding-top: 60px;
									padding-bottom: 60px;
								}
							</style>
						</section>

						<section class="section mh-no-padding-bottom" style="margin-top: -10px" id="section_1233839142">
							<div class="bg section-bg fill bg-fill bg-loaded banner-fix-bg-fill" >

							</div><!-- .section-bg -->

							<div class="section-content relative">

								<div class="row"  id="row-672376507">
									<div class="col medium-12 small-12 large-6"  ><div class="col-inner dark"  >
										<h2 class="mh-title-bold-color" style="margin-top: -50px">{{html_strip(home[4].title) |raw }}</h2>
										<div class="gap-element clearfix" style="display:block; height:auto; padding-top:20px"></div>
										<p class="mh-text-justify">{{home[4].content|raw }}</p>
									</div></div>
									<div class="col medium-12 small-12 large-6 img-vitri-top"  ><div class="col-inner dark"  >
										<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1297757615">
											<div class="img-inner dark" >
												<img width="1500" height="999" src="{{home[4].image | media }}" class="attachment-original size-original" sizes="(max-width: 1500px) 100vw, 1500px" />						
											</div>

											<style scope="scope">

												#image_1297757615 {
													width: 100%;
												}
											</style>
										</div>

									</div></div>

									<style scope="scope">

									</style>
								</div>
								<div class="gap-element clearfix padding-top-60" style="display:block; height:auto;"></div>
								<div class="row row-collapse row-full-width"  id="row-510637680">
									{% for vitriposts in vitripost%}
									<div class="col mh-col-location medium-4 small-12 large-3"  ><div class="col-inner dark"  >
										<div class="mh-point"></div>
										<div class="mh-time">{{html_strip(vitriposts.title) |raw}}</div>
										<ul class="mh-list-location">
											{{vitriposts.introductory |raw }}
										</ul>
										<div class="gap-element clearfix show-for-medium" style="display:block; height:auto; padding-top:30px"></div>
									</div></div>
									{%endfor%}
									<style scope="scope">

									</style>
								</div>
								<div class="gap-element clearfix padding-top-60" style="display:block; height:auto; "></div>
							</div><!-- .section-content -->


							<style scope="scope">

								#section_1233839142 {
									padding-top: 80px;
									padding-bottom: 80px;
								}

							</style>
						</section>

						<section class="section mh-no-padding-bottom margin-top-80" id="section_1233839142">
							<div class="bg section-bg fill bg-fill bg-loaded banner-fix-bg-fill" >




							</div><!-- .section-bg -->

							<div class="section-content relative">

								<div class="row"  id="row-672376507">
										<div  class="col medium-12 small-12 large-6 vitri-magin-50"  ><div class="col-inner dark"  >
										<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1297757615">
											<div class="img-inner dark" >
												<img width="1500" height="999" src="{{home[16].image | media }}" class="attachment-original size-original" sizes="(max-width: 1500px) 100vw, 1500px" />							
											</div>

											<style scope="scope">

												#image_1297757615 {
													width: 100%;
												}
											</style>
										</div>
									</div>
								</div>

									<div class="col medium-12 small-12 large-6 vitri-bottom-padding-0">
										<div class="col-inner dark"  >
										<h2 class="mh-title-bold-color">{{html_strip(home[16].title) |raw }}</h2>
										<div class="gap-element clearfix" style="display:block; height:auto; padding-top:20px"></div>
										<p class="mh-text-justify">{{home[16].content|raw }}</p>
									</div>
								</div>
								

									<style scope="scope">

									</style>
								</div>
								<div class="gap-element clearfix padding-top-60" style="display:block; height:auto;"></div>
								<div class="gap-element clearfix padding-top-60" style="display:block; height:auto;"></div>
							</div><!-- .section-content -->


							<style scope="scope">

								#section_1233839142 {
									padding-top: 80px;
									padding-bottom: 80px;
								}

							</style>
						</section>

						



						<div class="container section-title-container matbang-magin-80"><h2 class="section-title section-title-center"><b></b><span class="section-title-main" style="color:rgb(141, 56, 56);">{{html_strip(home[10].title) |raw}}</span><b></b></h2>
							</div>
						<div class="panel active entry-content" id="tab_toa-a">
									<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_549190687">
										<a class="image-popup-vertical-fit"  href="{{home[17].image |media}}" >
											<img src="{{home[17].image |media}}">
										</a>
										<style scope="scope">

											#image_549190687 {
												width: 100%;
											}
										</style>
									</div>
								</div>

						<div class="tabbed-content">

							<ul class="nav nav-tabs nav-uppercase nav-size-large nav-center">
								<li class="tab active has-icon"><a href="#tab_toa-a"><span>{{html_strip(home[9].description) |raw}}</span></a>
								</li>
								<li class="tab has-icon"><a href="#tab_toa-b"><span>{{html_strip(home[10].description) |raw}}</span></a>
								</li>
								<li class="tab has-icon"><a href="#tab_toa-b"><span>{{html_strip(home[11].description) |raw}}</span></a>
								</li>
								<li class="tab has-icon"><a href="#tab_toa-b"><span>{{html_strip(home[12].description) |raw}}</span></a>
								</li>
							</ul>
							<div class="tab-panels">
								<div class="panel active entry-content" id="tab_toa-a">
									<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_549190687">
										<a class="image-popup-vertical-fit"  href="{{home[9].image |media}}" >
											<img src="{{home[9].image |media}}">
										</a>
										<style scope="scope">

											#image_549190687 {
												width: 100%;
											}
										</style>
									</div>
								</div>
								<div class="panel entry-content" id="tab_toa-b">
									<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1521973680">
										<a href="{{home[10].image |media}}" class="image-popup-vertical-fit" title="">
											<img src="{{home[10].image |media}}" alt="">
										</a>
										<style scope="scope">

											#image_1521973680 {
												width: 100%;
											}
										</style>
									</div>

								</div>
								<div class="panel entry-content" id="tab_toa-b">
									<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1521973680">
										<a href="{{home[11].image |media}}" class="image-popup-vertical-fit" title="">
											<img src="{{home[11].image |media}}" alt="">
										</a>
										<style scope="scope">

											#image_1521973680 {
												width: 100%;
											}
										</style>
									</div>

								</div>
								<div class="panel entry-content" id="tab_toa-b">
									<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1521973680">
										<a href="{{home[12].image |media}}" class="image-popup-vertical-fit" title="">
											<img src="{{home[12].image |media}}" alt="">
										</a>
										<style scope="scope">

											#image_1521973680 {
												width: 100%;
											}
										</style>
									</div>

								</div>
							</div>
						</div>



						<section class="section mh-no-padding-bottom mh-bg-half" style="padding-top: 30px" id="section_1691851815">
							<div class="bg section-bg fill bg-fill  bg-loaded banner-fix-bg-fill" >

							</div><!-- .section-bg -->

							<div class="section-content relative">

								<div class="row row-collapse row-full-width align-right mh-row-utilities"  id="row-369426653">
									<div class="col medium-12 small-12 large-12"  >
										<div class="col-inner dark tonquanduan" style="padding:0px 15px 0px 15px;" >
											<h2 style="text-align: center;" class="mh-title-bold-light mh-color-primary font-chinhsach">{{html_strip(chuoitienich[1].title) | raw}}</h2>
											<div class="gap-element clearfix" style="display:block; height:auto; padding-top:60px"></div>
											<p>{{chuoitienich[1].content | raw }}</p>
											<div class="gap-element clearfix" style="display:block; height:auto; padding-top:10px"></div>
											
											<div class="gap-element clearfix" style="display:block; height:auto; padding-top:10px"></div>
										</div></div>
										<div class="col medium-12 small-12 large-6"  >
											<div class="col-inner"  >
												<div class="slider-wrapper relative" id="slider-88440301" >
													

													<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1540203593">
														<div class="img-inner dark" >

														</div>

														<style scope="scope">

															#image_1540203593 {
																width: 100%;
															}
														</style>
													</div>

													<div class="loading-spin dark large centered"></div>
													<style scope="scope">
													</style>
												</div><!-- .ux-slider-wrapper -->


											</div>
										</div>

										<style scope="scope">

										</style>
									</div>
								</div><!-- .section-content -->


								<style scope="scope">

									#section_1691851815 {
										padding-bottom: 100px;
									}
								</style>
							</section>








							<section class="section" id="section_118247377">
								<div class="bg section-bg fill bg-fill  bg-loaded banner-fix-bg-fill" >


									<div class="section-bg-overlay absolute fill"></div>


								</div><!-- .section-bg -->

								<div class="section-content relative">

									<div class="row"  id="row-787572328">
										<div class="col small-12 large-12"  ><div class="col-inner"  >
											<h3 style="text-align: center;"><span style="font-size: 110%; color: white;">XEM ONLINE BẢNG GIÁ, CSBH CHI TIẾT TỪNG CĂN TẠI ĐÂY!</span></h3>

											<form  class="frm-registration frm-validate js-frm-submit">

												<div class="cf72c">
													<div class="col medium-6">
														<input type="text" name="name"  value="" size="40" class="wpcf7-form-control wpcf7-text name_data" placeholder="Họ và tên" />
													</div>
													<div class="col medium-6">
														<input type="text" name="phone" maxlength="10"  value="" size="40" class="wpcf7-form-control wpcf7-text  phone_data" placeholder="Nhập số điện thoại" />
													</div>
													<div class="col medium-6">
														<input type="email" name="email"  value="" size="40" class="wpcf7-form-control wpcf7-text email_data"  placeholder="Nhập email" />
														<textarea name="content" hidden="" cols="40" rows="10" class="content_data" placeholder="Yêu cầu khác ..."></textarea>
													</div>
													<div class="col medium-6">
														<input type="submit" style="background-color: #1e2842" value="Xem Ngay!" class="wpcf7-form-control wpcf7-submit" />
													</div>


													<div class="createdata-success" style="display: none;" role="alert">Thông tin của bạn đã được gửi thành công!</div>
													<style>
														.cf72c .col {
															float: left;
															padding: 0px 10px 0 10px;
														}
														.cf72c input.wpcf7-form-control.wpcf7-text {
															height: 45px;
														}
														.cf72c input.wpcf7-form-control.wpcf7-submit {
															width: 100%;
															height: 45px;
														}
													</style>
													<div class="wpcf7-response-output wpcf7-display-none"></div>
												</form>
											</div>
											<p style="text-align: center; color:white;"><span style="font-size: 95%;"><em>Vui lòng điền chính xác thông tin, hệ thống của chúng tôi sẽ tự động gửi mail chi tiết thông tin báo giá và chính sách ưu đãi mới nhất vào email của quý khách!</em></span></p>
										</div></div>
									</div>
								</div><!-- .section-content -->


								<style scope="scope">

									#section_118247377 {
										padding-top: 30px;
										padding-bottom: 30px;
									}
									#section_118247377 .section-bg-overlay {
										background-color:#c99232;
									}
								</style>
							</section>
							<section class="section" id="section_5404328">
								<div class="bg section-bg fill bg-fill  bg-loaded banner-fix-bg-fill" >		
								</div><!-- .section-bg -->

								<div class="section-content relative">

									<div class="row row-small"  id="row-73468964">
										<div class="col small-12 large-12"  ><div class="col-inner text-center"  >
											<div class="gap-element clearfix padding-giatrivang" style="display:block; height:auto;"></div>
											<h2 class="mh-title-bold-light">{{html_strip(home[5].title) |raw }}</h2>
										</div></div>

										<style scope="scope">

										</style>
									</div>
									<div class="slider-wrapper relative" id="slider-291583928" >
									<div class="slider slider-nav-dots-simple slider-nav-simple slider-nav-large slider-nav-light slider-style-normal"
										data-flickity-options='{
										"cellAlign": "center",
										"imagesLoaded": true,
										"lazyLoad": 1,
										"freeScroll": false,
										"wrapAround": true,
										"autoPlay": 6000,
										"pauseAutoPlayOnHover" : true,
										"prevNextButtons": false,
										"contain" : true,
										"adaptiveHeight" : true,
										"dragThreshold" : 10,
										"percentPosition": true,
										"pageDots": true,
										"rightToLeft": false,
										"draggable": true,
										"selectedAttraction": 0.1,
										"parallax" : 0,
										"friction": 0.6}'
										>


									<div class="banner has-hover mh-banner-overlay item is-full-height" id="banner-759708393">
											<div class="banner-inner fill">
												<div class="banner-bg fill" >
													<div class="bg fill bg-fill "></div>

												</div><!-- bg-layers -->
												<div class="banner-layers container">
													<div class="fill banner-link"></div>            
													<div id="text-box-724743941" class="text-box banner-layer x5 md-x5 lg-x0 y30 md-y25 lg-y50 res-text">
														<div class="text dark">

															<div class="text-inner text-left">

																<div class="container section-title-container mh-title-simple mh-hight-light left" style="margin-bottom:20px;"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" >{{html_strip(home[5].description) |raw }}</span><b></b></h3></div><!-- .section-title -->
															</div>
														</div><!-- text-box-inner -->

														<style scope="scope">

															#text-box-724743941 {
																width: 90%;
															}
															#text-box-724743941 .text {
																font-size: 90%;
															}


															@media (min-width:550px) {

																#text-box-724743941 {
																	width: 90%;
																}
																#text-box-724743941 .text {
																	font-size: 100%;
																}

															}


															@media (min-width:850px) {

																#text-box-724743941 {
																	width: 75%;
																}

															}
														</style>
													</div><!-- text-box -->

													<div id="text-box-1165309835" class="text-box banner-layer x0 md-x5 lg-x0 y85 md-y75 lg-y85 res-text">
														<div class="text dark">

															<div class="is-border"
															style="border-color:rgb(201, 146, 50);border-width:0px 0px 0px 2px;">
														</div>
														<div class="text-inner text-left">

															<div class="gap-element clearfix" style="display:block; height:auto; padding-top:20px"></div>
															<p class="mh-text-justify">{{home[5].content |raw }}</p>
														</div>
													</div><!-- text-box-inner -->

													<style scope="scope">

														#text-box-1165309835 {
															margin: 30px 0px 0px 20px;
															width: 80%;
														}
														#text-box-1165309835 .text-inner {
															padding: 0px 0px 20px 20px;
														}
														#text-box-1165309835 .text {
															font-size: 100%;
														}


														@media (min-width:550px) {

															#text-box-1165309835 {
																margin: 30px 0px 0px 30px;
																width: 60%;
															}
															#text-box-1165309835 .text-inner {
																padding: 0px 0px 30px 30px;
															}
															#text-box-1165309835 .text {
																font-size: 100%;
															}

														}
													</style>
												</div><!-- text-box -->

											</div><!-- .banner-layers -->
										</div><!-- .banner-inner -->
										<style scope="scope">
											#banner-759708393 {
												padding-top: 100%;
											}
										</style>
									</div><!-- .banner -->




									<div class="banner has-hover mh-banner-overlay item is-full-height" id="banner-1913962813">
										<div class="banner-inner fill">
											<div class="banner-bg fill" >
												<div class="bg fill bg-fill "></div>

											</div><!-- bg-layers -->
											<div class="banner-layers container">
												<div class="fill banner-link"></div>            
												<div id="text-box-1642571572" class="text-box banner-layer x5 md-x5 lg-x0 y30 md-y25 lg-y50 res-text">
													<div class="text dark">

														<div class="text-inner text-left">

															<div class="container section-title-container mh-title-simple mh-hight-light left" style="margin-bottom:20px;"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" >{{html_strip(home[13].description) |raw }}</span><b></b></h3></div><!-- .section-title -->
														</div>
													</div><!-- text-box-inner -->

													<style scope="scope">

														#text-box-1642571572 {
															width: 90%;
														}
														#text-box-1642571572 .text {
															font-size: 90%;
														}


														@media (min-width:550px) {

															#text-box-1642571572 {
																width: 90%;
															}
															#text-box-1642571572 .text {
																font-size: 100%;
															}

														}


														@media (min-width:850px) {

															#text-box-1642571572 {
																width: 75%;
															}

														}
													</style>
												</div><!-- text-box -->

												<div id="text-box-180103383" class="text-box banner-layer x0 md-x5 lg-x0 y90 md-y80 lg-y90 res-text">
													<div class="text dark">

														<div class="is-border"
														style="border-color:rgb(201, 146, 50);border-width:0px 0px 0px 2px;">
													</div>
													<div class="text-inner text-left">

														<div class="gap-element clearfix" style="display:block; height:auto; padding-top:20px"></div>
														<p class="mh-text-justify">{{home[13].content |raw }}</p>
													</div>
												</div><!-- text-box-inner -->

												<style scope="scope">

													#text-box-180103383 {
														margin: 30px 0px 0px 20px;
														width: 80%;
													}
													#text-box-180103383 .text-inner {
														padding: 0px 0px 20px 20px;
													}
													#text-box-180103383 .text {
														font-size: 110%;
													}


													@media (min-width:550px) {

														#text-box-180103383 {
															margin: 30px 0px 0px 30px;
															width: 60%;
														}
														#text-box-180103383 .text-inner {
															padding: 0px 0px 30px 30px;
														}
														#text-box-180103383 .text {
															font-size: 100%;
														}

													}
												</style>
											</div><!-- text-box -->

										</div><!-- .banner-layers -->
									</div><!-- .banner-inner -->


									<style scope="scope">

										#banner-1913962813 {
											padding-top: 100%;
										}
									</style>
								</div><!-- .banner -->





								<div class="banner has-hover mh-banner-overlay item is-full-height" id="banner-1913962814">
										<div class="banner-inner fill">
											<div class="banner-bg fill" >
												<div class="bg fill bg-fill "></div>

											</div><!-- bg-layers -->
											<div class="banner-layers container">
												<div class="fill banner-link"></div>            
												<div id="text-box-1642571572" class="text-box banner-layer x5 md-x5 lg-x0 y30 md-y25 lg-y50 res-text">
													<div class="text dark">

														<div class="text-inner text-left">

															<div class="container section-title-container mh-title-simple mh-hight-light left" style="margin-bottom:20px;"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" >{{html_strip(home[14].description) |raw }}</span><b></b></h3></div><!-- .section-title -->
														</div>
													</div><!-- text-box-inner -->

													<style scope="scope">

														#text-box-1642571572 {
															width: 90%;
														}
														#text-box-1642571572 .text {
															font-size: 90%;
														}


														@media (min-width:550px) {

															#text-box-1642571572 {
																width: 90%;
															}
															#text-box-1642571572 .text {
																font-size: 100%;
															}

														}


														@media (min-width:850px) {

															#text-box-1642571572 {
																width: 75%;
															}

														}
													</style>
												</div><!-- text-box -->

												<div id="text-box-180103383" class="text-box banner-layer x0 md-x5 lg-x0 y90 md-y80 lg-y90 res-text">
													<div class="text dark">

														<div class="is-border"
														style="border-color:rgb(201, 146, 50);border-width:0px 0px 0px 2px;">
													</div>
													<div class="text-inner text-left">

														<div class="gap-element clearfix" style="display:block; height:auto; padding-top:20px"></div>
														<p class="mh-text-justify">{{home[14].content |raw }}</p>
													</div>
												</div><!-- text-box-inner -->

												<style scope="scope">

													#text-box-180103383 {
														margin: 30px 0px 0px 20px;
														width: 80%;
													}
													#text-box-180103383 .text-inner {
														padding: 0px 0px 20px 20px;
													}
													#text-box-180103383 .text {
														font-size: 110%;
													}


													@media (min-width:550px) {

														#text-box-180103383 {
															margin: 30px 0px 0px 30px;
															width: 60%;
														}
														#text-box-180103383 .text-inner {
															padding: 0px 0px 30px 30px;
														}
														#text-box-180103383 .text {
															font-size: 100%;
														}

													}
												</style>
											</div><!-- text-box -->

										</div><!-- .banner-layers -->
									</div><!-- .banner-inner -->


									<style scope="scope">

										#banner-1913962813 {
											padding-top: 100%;
										}
									</style>
								</div><!-- .banner -->




								<div class="banner has-hover mh-banner-overlay item is-full-height" id="banner-1913962815">
										<div class="banner-inner fill">
											<div class="banner-bg fill" >
												<div class="bg fill bg-fill "></div>

											</div><!-- bg-layers -->
											<div class="banner-layers container">
												<div class="fill banner-link"></div>            
												<div id="text-box-1642571572" class="text-box banner-layer x5 md-x5 lg-x0 y30 md-y25 lg-y50 res-text">
													<div class="text dark">

														<div class="text-inner text-left">

															<div class="container section-title-container mh-title-simple mh-hight-light left" style="margin-bottom:20px;"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" >{{html_strip(home[15].description) |raw }}</span><b></b></h3></div><!-- .section-title -->
														</div>
													</div><!-- text-box-inner -->

													<style scope="scope">

														#text-box-1642571572 {
															width: 90%;
														}
														#text-box-1642571572 .text {
															font-size: 90%;
														}


														@media (min-width:550px) {

															#text-box-1642571572 {
																width: 90%;
															}
															#text-box-1642571572 .text {
																font-size: 100%;
															}

														}


														@media (min-width:850px) {

															#text-box-1642571572 {
																width: 75%;
															}

														}
													</style>
												</div><!-- text-box -->

												<div id="text-box-180103383" class="text-box banner-layer x0 md-x5 lg-x0 y90 md-y80 lg-y90 res-text">
													<div class="text dark">

														<div class="is-border"
														style="border-color:rgb(201, 146, 50);border-width:0px 0px 0px 2px;">
													</div>
													<div class="text-inner text-left">

														<div class="gap-element clearfix" style="display:block; height:auto; padding-top:20px"></div>
														<p class="mh-text-justify">{{home[15].content |raw }}</p>
													</div>
												</div><!-- text-box-inner -->

												<style scope="scope">

													#text-box-180103383 {
														margin: 30px 0px 0px 20px;
														width: 80%;
													}
													#text-box-180103383 .text-inner {
														padding: 0px 0px 20px 20px;
													}
													#text-box-180103383 .text {
														font-size: 110%;
													}


													@media (min-width:550px) {

														#text-box-180103383 {
															margin: 30px 0px 0px 30px;
															width: 60%;
														}
														#text-box-180103383 .text-inner {
															padding: 0px 0px 30px 30px;
														}
														#text-box-180103383 .text {
															font-size: 100%;
														}

													}
												</style>
											</div><!-- text-box -->

										</div><!-- .banner-layers -->
									</div><!-- .banner-inner -->


									<style scope="scope">

										#banner-1913962813 {
											padding-top: 100%;
										}
									</style>
								</div><!-- .banner -->

								<div class="banner has-hover mh-banner-overlay item is-full-height" id="banner-1913962816">
										<div class="banner-inner fill">
											<div class="banner-bg fill" >
												<div class="bg fill bg-fill "></div>

											</div><!-- bg-layers -->
											<div class="banner-layers container">
												<div class="fill banner-link"></div>            
												<div id="text-box-1642571572" class="text-box banner-layer x5 md-x5 lg-x0 y30 md-y25 lg-y50 res-text">
													<div class="text dark">

														<div class="text-inner text-left">

															<div class="container section-title-container mh-title-simple mh-hight-light left" style="margin-bottom:20px;"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" >{{html_strip(home[6].description) |raw }}</span><b></b></h3></div><!-- .section-title -->
														</div>
													</div><!-- text-box-inner -->

													<style scope="scope">

														#text-box-1642571572 {
															width: 90%;
														}
														#text-box-1642571572 .text {
															font-size: 90%;
														}


														@media (min-width:550px) {

															#text-box-1642571572 {
																width: 90%;
															}
															#text-box-1642571572 .text {
																font-size: 100%;
															}

														}


														@media (min-width:850px) {

															#text-box-1642571572 {
																width: 75%;
															}

														}
													</style>
												</div><!-- text-box -->

												<div id="text-box-180103383" class="text-box banner-layer x0 md-x5 lg-x0 y90 md-y80 lg-y90 res-text">
													<div class="text dark">

														<div class="is-border"
														style="border-color:rgb(201, 146, 50);border-width:0px 0px 0px 2px;">
													</div>
													<div class="text-inner text-left">

														<div class="gap-element clearfix" style="display:block; height:auto; padding-top:20px"></div>
														<p class="mh-text-justify">{{home[6].content |raw }}</p>
													</div>
												</div><!-- text-box-inner -->

												<style scope="scope">

													#text-box-180103383 {
														margin: 30px 0px 0px 20px;
														width: 80%;
													}
													#text-box-180103383 .text-inner {
														padding: 0px 0px 20px 20px;
													}
													#text-box-180103383 .text {
														font-size: 110%;
													}


													@media (min-width:550px) {

														#text-box-180103383 {
															margin: 30px 0px 0px 30px;
															width: 60%;
														}
														#text-box-180103383 .text-inner {
															padding: 0px 0px 30px 30px;
														}
														#text-box-180103383 .text {
															font-size: 100%;
														}

													}
												</style>
											</div><!-- text-box -->

										</div><!-- .banner-layers -->
									</div><!-- .banner-inner -->


									<style scope="scope">

										#banner-1913962813 {
											padding-top: 100%;
										}
									</style>
								</div><!-- .banner -->



								<div class="banner has-hover mh-banner-overlay item is-full-height" id="banner-784951037">
									<div class="banner-inner fill">
										<div class="banner-bg fill" >
											<div class="bg fill bg-fill "></div>

										</div><!-- bg-layers -->
										<div class="banner-layers container">
											<div class="fill banner-link"></div>            
											<div id="text-box-1431341401" class="text-box  banner-layer x5 md-x5 lg-x5 y10 md-y10 lg-y60 res-text">
												<div class="text dark">

													<div class="text-inner text-left">

														<div class="container section-title-container mh-title-simple mh-hight-light left" style="margin-bottom:20px;"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" >{{html_strip(home[7].description) |raw }}</span><b></b></h3></div><!-- .section-title -->
													</div>
												</div><!-- text-box-inner -->

												<style scope="scope">

													#text-box-1431341401 {
														width: 90%;
													}
													#text-box-1431341401 .text {
														font-size: 90%;
													}


													@media (min-width:550px) {

														#text-box-1431341401 {
															width: 90%;
														}
														#text-box-1431341401 .text {
															font-size: 100%;
														}

													}


													@media (min-width:850px) {

														#text-box-1431341401 {
															width: 75%;
														}

													}
												</style>
											</div><!-- text-box -->

											<div id="text-box-1296239580" class="text-box banner-layer x0 md-x5 lg-x0 y90 md-y90 lg-y90 res-text">
												<div class="text dark">

													<div class="is-border"
													style="border-color:rgb(201, 146, 50);border-width:0px 0px 0px 2px;">
												</div>
												<div class="text-inner text-left">

													<div class="gap-element clearfix" style="display:block; height:auto; padding-top:20px"></div>
													<p class="mh-text-justify">{{home[7].content |raw }}</p>
												</div>
											</div><!-- text-box-inner -->

											<style scope="scope">

												#text-box-1296239580 {
													margin: 30px 0px 0px 20px;
													width: 80%;
												}
												#text-box-1296239580 .text-inner {
													padding: 0px 0px 20px 20px;
												}
												#text-box-1296239580 .text {
													font-size: 100%;
												}


												@media (min-width:550px) {

													#text-box-1296239580 {
														margin: 30px 0px 0px 30px;
														width: 60%;
													}
													#text-box-1296239580 .text-inner {
														padding: 0px 0px 30px 30px;
													}
													#text-box-1296239580 .text {
														font-size: 100%;
													}

												}
											</style>
										</div><!-- text-box -->

									</div><!-- .banner-layers -->
								</div><!-- .banner-inner -->


								<style scope="scope">

									#banner-784951033 {
										padding-top: 100%;
									}
								</style>
							</div><!-- .banner -->


						</div>

						<div class="loading-spin dark large centered"></div>

						<style scope="scope">
						</style>
					</div><!-- .ux-slider-wrapper -->


				</div><!-- .section-content -->


				<style scope="scope">

					#section_5404328 {
						padding-top: 0px;
						padding-bottom: 0px;
					}
				</style>
			</section>
			<section class="section" id="section_513647710">
				<div class="bg section-bg fill bg-fill  bg-loaded" >

					<div class="section-bg-overlay absolute fill"></div>


				</div><!-- .section-bg -->

				<div class="section-content relative">

					<div class="row row-large align-middle"  id="row-1766889604">
						<div class="col medium-6 small-12 large-6"  ><div class="col-inner"  >
							<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_551512761">
								<div class="img-inner dark" >
									<img width="1300" height="919" src="{{home[8].image | media }}" class="attachment-original size-original" alt="Căn hộ đẳng cấp" sizes="(max-width: 1300px) 100vw, 1300px" />						
								</div>

								<style scope="scope">

									#image_551512761 {
										width: 100%;
									}
								</style>
							</div>

						</div></div>
						<div class="col medium-6 small-12 large-6"  ><div class="col-inner text-left"  >
							<h2>{{html_strip(home[8].title) | raw }}</h2>
							<p>{{home[8].content | raw }}</p>
							<a href="{{'gia-ban' | page}}" target="_self" class="button secondary"  >
								<i class="zmdi zmdi-search" ></i>  <span>Xem bảng giá chi tiết</span>
							</a>

						</div></div>

						<style scope="scope">

						</style>
					</div>
				</div><!-- .section-content -->


				<style scope="scope">

					#section_513647710 {
						padding-top: 60px;
						padding-bottom: 60px;
						background-color: rgb(193, 193, 193);
					}
					#section_513647710 .section-bg-overlay {
						background-color: rgba(255, 255, 255, 0.85);
					}
				</style>
			</section>

			<section class="section mh-no-padding-bottom" id="section_426580076">
				<div class="bg section-bg fill bg-fill  bg-loaded" >





				</div><!-- .section-bg -->

				<div class="section-content relative">

					<div class="row align-center"  id="row-1839219189">
						<div class="col small-12 large-12"  ><div class="col-inner text-center"  >
							<h2 class="mh-title-bold-light mh-color-primary">Tin tức &amp; Sự Kiện</h2>
							<div class="gap-element clearfix" style="display:block; height:auto; padding-top:50px"></div>


							<div class="row mh-col-no-divider mh-grid-blog large-columns-3 medium-columns-2 small-columns-1">
								{% for itemposts in itempost %}
								<div class="col post-item" >
									<div class="col-inner">
										<a target="_blank" href="{{ 'chi-tiet-tin-tuc' | page({slug:itemposts.slug}) }}" class="plain">
											<div class="box box-default box-text-bottom box-blog-post has-hover">
												<div class="box-image" >
													<div class="image-cover" style="padding-top:56.25%;">
														<img width="1500" height="747" src="{{itemposts.image | media}}" class="lazy-load attachment-original size-original wp-post-image" alt="" sizes="(max-width:  ) 100vw, 1500px" />  							  							  						</div>
													</div><!-- .box-image -->
													<div class="box-text text-left" style="padding:20px 0px 0px 0px;">
														<div class="box-text-inner blog-post-inner">


															<h5 class="post-title is-large uppercase">{{html_strip(itemposts.title) | raw}}</h5>
															<div class="is-divider"></div>
															<p class="from_the_blog_excerpt ">{{html_limit(itemposts.introductory,100) | raw}}					</p>

															<p  href="{{ 'chi-tiet-tin-tuc' | page({slug:itemposts.slug}) }}" class="mh-no-margin mh-button-readmore button secondary is-link"><span>Xem chi tiết</span></p>


														</div><!-- .box-text-inner -->
													</div><!-- .box-text -->
													<div class="badge absolute top post-date badge-square">
														<div class="badge-inner">
															<span class="post-date-day">{{ itemposts.published_at|date('d') }}</span><br>
															<span class="post-date-month is-xsmall">Th{{ itemposts.published_at|date('m') }}</span>
														</div>
													</div>
												</div><!-- .box -->
											</a><!-- .link -->
										</div><!-- .col-inner -->
									</div><!-- .col -->
									{%endfor%}
								</div>
							</div>
						</div>

						<style scope="scope">

						</style>
					</div>
					<div class="gap-element clearfix" style="display:block; height:auto; padding-top:30px"></div>
				</div><!-- .section-content -->


				<style scope="scope">

					#section_426580076 {
						padding-bottom: 80px;
					}
				</style>
			</section>

			<p>&nbsp;</p>

		</div>



	</main><!-- #main -->