<div class="contact-box">
		
		<a class="contact-item item-fb chatzalo" href="http://zaloapp.com/qr/p/1c71cb9yqzwi1" target="_blank"> 
			<img src="{{'assets/images/iconzalo.png' | theme}}"> </a>
		<!-- <a href="tel:{{html_strip(setting.numberphone) | raw}}" class="contact-item item-phone"><i class="fas fa-phone-alt"></i></a> -->
		<a class="contact-item item-regis">TẢI BẢNG GIÁ, CSBH</a>
	</div>
	<div class="tel--btn">
			<a href="tel:{{html_strip(setting.phone) | raw}}">
				<i class="fas fa-phone-alt">
				</i>
			</a>
		</div>
	<div class="lien-he">
		<div class="closed"><img src="{{ 'assets/images/icon-close.png' |theme }}" alt=""></div>
		<h3>TẢI XUỐNG  BẢNG  GIÁ, CSBH CHI TIẾT TỪNG CĂN TẠI ĐÂY (PDF,CSV...)</h3><div role="form" class="wpcf7" id="wpcf7-f179-o1" lang="en-US" dir="ltr">
			<div class="screen-reader-response"></div>
			<form  class="frm-donhang frm-validate js-frm-submit" >
				
				<p>
					<label>
						<span>
							<input type="text" name="name" id="name_data" value="" size="40"  placeholder="Họ và tên" />
						</span>
					</label>
					<br />
					<label>
						<span >
							<input type="tel" name="phone" maxlength="10" id="phone_data" value="" size="40"  placeholder="Số điện thoại" />
						</span>
					</label>
					<br />
					<label>
						<span class="">
							<input type="email" name="email" id="email_data" value="" size="40"  placeholder="Email" />
						</span>
					</label>
					<br />
					<label>
						<span class="">
							<textarea name="content" id="content_data" cols="40" rows="10" class="" placeholder="Yêu cầu khác ..."></textarea>
						</span>
					</label>
					<br>

					<br />
					<label><input type="submit" value="Tải ngay" class="wpcf7-form-control wpcf7-submit mh-submit" /></label>
				</div>

				
				</p>
				<div class="wpcf7-response-output wpcf7-display-none success-form" style="display: none;">
					Thông tin của bạn đã được gửi thành công!.
				</div>
			</form>
		</div>
	</div> 