	<section class="section mh-no-padding-bottom" id="section_148505935">
		<div class="bg section-bg fill bg-fill  bg-loaded" >
		</div><!-- .section-bg -->
		<div class="section-content relative">
			<div class="row row-large align-center row-divided"  id="row-1104360911">
				<div class="col mh-footer-col medium-6 small-12 large-4"  ><div class="col-inner dark"  >

					<div class="container section-title-container mh-title-simple" ><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" style="font-size:80%;">Trụ sở công ty</span><b></b></h3></div><!-- .section-title -->

					<p>VĂN PHÒNG BÁN HÀNG CHỦ ĐẦU TƯ</p>
					<p><i class="fas fa-home"></i> <a href="https://goo.gl/maps/YDeVESjJyw9SXWrj7">{{html_strip(setting.address) | raw}}</a></p>
					<p><i class="fas fa-phone-volume"></i> <a href="tel:{{html_strip(setting.numberphone) | raw}}">{{html_strip(setting.numberphone) | raw}}</a></p>

				</div></div>
				<div class="col mh-footer-col medium-6 small-12 large-4"  ><div class="col-inner dark"  >

					<div class="container section-title-container mh-title-simple" ><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" style="font-size:80%;">Đăng ký tư vấn căn hộ</span><b></b></h3></div><!-- .section-title -->

					<div role="form" class="wpcf7" id="wpcf7-f93-o2" lang="en-US" dir="ltr">
						<div class="screen-reader-response"></div>
						<form  class="bottom-form" >
							<p>
								<label>
									<span class="wpcf7-form-control-wrap text-61">
									<input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required mh-input bottom-name"  placeholder="Họ và tên" /></span></label><br />
								<label><span class="wpcf7-form-control-wrap tel-562">
									<input type="tel" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel mh-input bottom-phone" maxlength="10"  placeholder="Số điện thoại" /></span></label><br />
								<label><span class="wpcf7-form-control-wrap email-816">
									<input type="email" name="email" value="" size="40" class="wpcf7-form-control  wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email mh-input bottom-email" placeholder="Email" /></span></label><br />
								<label>
									<input type="submit" value="Đăng ký" class="wpcf7-form-control wpcf7-submit mh-submit" /></label></p>
								<div class="wpcf7-response-output wpcf7-display-none"></div>
							</form>
						</div>
							</div></div>
							<div class="col mh-footer-col medium-12 small-12 large-4"  ><div class="col-inner dark"  >

								<div class="container section-title-container mh-title-simple" ><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" style="font-size:80%;">Chúng tôi trên facebook</span><b></b></h3></div><!-- .section-title -->

								<div class="fb-page" data-href="https://www.facebook.com/MipecRubik360XuanThuyHanoi/" data-tabs="timeline" width="500" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
									<blockquote class="fb-xfbml-parse-ignore" cite="https://www.facebook.com/MipecRubik360XuanThuyHanoi/">
										
									</blockquote>
								</div>

							</div></div>


							<style scope="scope">

							</style>
						</div>
						<div class="gap-element clearfix" style="display:block; height:auto; padding-top:30px"></div>


					</div><!-- .section-content -->


					<style scope="scope">

						#section_148505935 {
							padding-top: 60px;
							padding-bottom: 60px;
							background-color: rgb(30, 40, 66);
						}
					</style>
				</section>

				<div class="absolute-footer dark medium-text-center text-center">
					<div class="container clearfix">


						<div class="footer-primary pull-left">
							<div class="copyright-footer">
								{{setting.copyright_footer | raw}}
							</div>
						</div><!-- .left -->
					</div><!-- .container -->
				</div><!-- .absolute-footer -->