	<div class="sidebar-menu no-scrollbar ">
		<ul class="nav nav-sidebar  nav-vertical nav-uppercase">
			<li class="header-block"><div class="header-block-block-1">
				<div class="icon-box featured-box icon-box-center text-center"  style="margin:0px 0px 30px 0px;">
					<div class="icon-box-img" style="width: 76px">
						<div class="icon">
							<div class="icon-inner" >
								<a href="{{ 'homepage' | page}}" title="">
								<img width="299" height="365" src="{{logo[0].image | media}}" class="attachment-medium size-medium" alt="Logo The Matrix One" />	
								</a>				</div>
							</div>
						</div>
						<div class="icon-box-text last-reset">
						</div>
					</div><!-- .icon-box -->

				</div></li><li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="{{'tong-quan'| page }}" class="nav-top-link">Tổng quan</a></li>
				<li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a href="{{'vi-tri'| page }}" class="nav-top-link">Vị trí</a></li>
				<li id="menu-item-341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-341"><a href="{{'tien-ich'| page }}" class="nav-top-link">Tiện ích</a></li>
				<li id="menu-item-393" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-393"><a href="{{'gia-ban'| page }}" class="nav-top-link">Giá bán</a></li>
				<li id="menu-item-114" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"><a href="{{'tin-tuc'| page }}" class="nav-top-link">Tin tức</a></li>
				<li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="{{'lien-he'| page }}" class="nav-top-link">Liên hệ</a></li>
			</ul>
		</div><!-- inner -->
<!-- #mobile-menu -->

